<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Request BUY</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <v-app>
            <v-container>
                <!-- Navbar -->
                <v-app-bar app dense dark color="primary">
                    <v-toolbar-title>{{ translate('lang1SvName') }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn text href="index.html">{{ translate('lang1Home') }}</v-btn>
                    <v-btn text href="shop.html">{{ translate('lang1Shop') }}</v-btn>

                    <!-- Dropdown Menu -->
                    <v-menu offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn text v-bind="attrs" v-on="on">
                                {{ translate('lang1Settings') }} <v-icon right>mdi-chevron-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item>
                                <v-list-item-title><a href="myitems.html">{{ translate('lang1MyItems') }}</a></v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-title><a href="sell.html">{{ translate('lang1Sell') }}</a></v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-title><a href="buy.html">{{ translate('lang1Buy') }}</a></v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-title><a href="mail.html">{{ translate('lang1Mail') }}</a></v-list-item-title>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-title><a href="signs.html">{{ translate('lang1Signs') }}</a></v-list-item-title>
                            </v-list-item>
                            <!-- Outras opções do dropdown -->
                        </v-list>
                    </v-menu>

                    <v-btn text href="logout">{{ translate('lang1Logout') }}</v-btn>
                </v-app-bar>
                <v-main>
                    <v-container>
                        <h2>{{ translate('langBuy') }} </h2>
                        
                        <v-row>
                            <v-col cols="12" sm="2">
                                <v-avatar size="64">
                                    <img :src="avatarUrl" alt="avatar">
                                </v-avatar>
                            </v-col>
                            <v-col cols="12" sm="10">
                                {{ translate('lang1Name') }}: <span>{{ user }}</span> | {{ translate('lang1Money') }}: <span>{{ money }}</span> | {{ translate('lang1Mail') }}: <span>{{ mail }}</span>
                            </v-col>
                        </v-row>
                        <br />

                        <div class="addItemShop">
                            <v-row justify="center">
                                <v-col cols="12" md="8" lg="6">
                                    <h5 class="text-center">{{ translate('langWant') }}</h5>
                                    <v-form @submit.prevent="addItem">
                                        <v-text-field 
                                            v-model="addItemForm.itemId" :label="translate('langItemId')" required prepend-icon="mdi-cube-outline">
                                        </v-text-field>
                                        <v-text-field 
                                            v-model="addItemForm.quantity" :label="translate('langQuantity')" type="number" required prepend-icon="mdi-counter">
                                        </v-text-field>
                                        <v-text-field 
                                            v-model="addItemForm.price" :label="translate('langPrice')" type="number" required prepend-icon="mdi-cash">
                                        </v-text-field>
                                        <v-btn type="submit" color="primary" block>{{ translate('Submit') }}</v-btn>
                                    </v-form>
                        
                                    <h5 class="text-center mt-5">{{ translate('langCancel') }}</h5>
                                    <v-form @submit.prevent="removeItem">
                                        <v-text-field 
                                            v-model="removeItemId" label="Id" required prepend-icon="mdi-cancel">
                                        </v-text-field>
                                        <v-btn type="submit" color="primary" block>{{ translate('Submit') }}</v-btn>
                                    </v-form>
                                </v-col>
                            </v-row>
                        </div>
                        

                        <div id="formresult" class="text-center">{{ formResult }}</div>
                        <div id="resultado">{{ resultado }}</div>
                        <br />

                        <!-- Tabela de Resultados -->
                        <v-data-table :headers="headers" :items="items" class="mt-5">
                            <template v-slot:item.item_name="{ item }">
                                <div v-html="item.item_name"></div>
                            </template>
                            <template v-slot:item.owner="{ item }">
                                <div v-html="item.owner"></div>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-main>
                <v-footer fixed>
                    &copy; Made by Stutiguias.
                </v-footer>
            </v-container>
        </v-app>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.js"></script>
    <script src="js/translate.js"></script>
    <script src="js/main.js"></script>
    <script src="js/page/buy.js"></script>
    
  </body>
</html>
