<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebPortal</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <!-- Navbar -->
            <v-app-bar app dense dark color="primary">
                <v-toolbar-title>{{ translate('lang1SvName') }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn text href="index.html">{{ translate('lang1Home') }}</v-btn>
                <v-btn text href="shop.html">{{ translate('lang1Shop') }}</v-btn>
                <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn text v-bind="attrs" v-on="on">
                            {{ translate('lang1Settings') }} <v-icon right>mdi-chevron-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item>
                            <v-list-item-title><a href="myitems.html">{{ translate('lang1MyItems') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="sell.html">{{ translate('lang1Sell') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="buy.html">{{ translate('lang1Buy') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="mail.html">{{ translate('lang1Mail') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="signs.html">{{ translate('lang1Signs') }}</a></v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>

                <v-btn text href="logout">{{ translate('lang1Logout') }}</v-btn>
            </v-app-bar>

            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-container>

                            <v-row class="my-5">
                                <v-col cols="12" sm="2" class="d-flex justify-center">
                                    <v-avatar size="120">
                                        <img v-bind:src="avatarUrl" alt="avatar" class="avatar-img" />
                                    </v-avatar>
                                </v-col>
                        
                                <v-col cols="12" sm="10">
                                    <v-card class="pa-4" elevation="2" tile outlined>
                                        <v-list dense>
                                            <v-subheader class="display-1">{{ translate('lang1TitleInfoPlayer') }}</v-subheader>
                                            <v-list-item>
                                                <v-list-item-icon>
                                                    <v-icon color="deep-orange">mdi-pickaxe</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content class="title"> {{ translate('lang1Name') }}: {{ user }}</v-list-item-content>
                                            </v-list-item>
                                            <v-list-item>
                                                <v-list-item-icon>
                                                    <v-icon color="lime">mdi-gold</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content class="title"> {{ translate('lang1Money') }}: {{ money }}</v-list-item-content>
                                            </v-list-item>
                                            <v-list-item>
                                                <v-list-item-icon>
                                                    <v-icon color="light-blue">mdi-email</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content class="title"> {{ translate('lang1Mail') }}: {{ mail }}</v-list-item-content>
                                            </v-list-item>
                                            <v-list-item v-if="isAdmin">
                                                <v-list-item-icon>
                                                    <v-icon color="red">mdi-crown</v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content class="title">
                                                    <a href="admin.html">{{ translate('lang1Admin') }}</a>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list>
                                    </v-card>
                                </v-col>
                            </v-row>
                
                            <v-row>
                                <v-col v-for="n in 4" :key="n" cols="12" sm="3">
                                    <v-card class="pa-4" outlined tile elevation="2">
                                        <span v-html="getContentBox(n)"></span>
                                    </v-card>
                                </v-col>
                            </v-row>
                
                        </v-container>
                    </v-col>
                </v-row>
            </v-container>

            <!-- Footer -->
            <v-footer fixed padless>
                <v-col class="text-center">
                    ©2024 Made by Stutiguias.
                </v-col>
            </v-footer>
        </v-app>
    </div>
    <script src="js/translate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.js"></script>
    <script src="js/main.js"></script>
    <script src="js/page/index.js"></script>
</body>
</html>
