<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>WebPortal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.0/dist/vuetify.min.css" rel="stylesheet">
    <style>
        .main-content {
            padding-top: 60px;
        }
    </style>
</head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar app dense dark color="primary">
                    <v-toolbar-title>{{ translate('lang1SvName') }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-form inline class="d-flex"  @submit.prevent="login">
                        <div class="d-flex" style="max-width: 60%;padding: 5px;margin-top: 10px;">
                          <v-text-field v-model="username" label="Username" dense hide-details class="flex-grow-1"></v-text-field>
                          <v-text-field v-model="password" label="Password" type="password" dense hide-details class="flex-grow-1"></v-text-field>
                          <input type="hidden" v-model="sessionid">
                        </div>
                        <div class="d-flex" style="padding: 5px;">
                            <v-btn type="submit" color="secondary" dark>{{ translate('langSubmit') }}</v-btn>
                        </div>
                      </v-form>
                </v-app-bar>
    
                <v-main class="main-content">
                    <v-container>
                        <!-- Conteúdo principal aqui -->
                        <div id="resultado"></div>
                        <v-data-table :headers="headers" :items="items" class="elevation-1">
                            <template v-slot:item.item_name="{ item }">
                                <div v-html="item.item_name"></div>
                            </template>
                            <template v-slot:item.owner="{ item }">
                                <div v-html="item.owner"></div>
                            </template>
                        </v-data-table>
                        <!-- Footer -->
                        <v-footer fixed padless>
                            <v-col class="text-center">© Made by Stutiguias.</a>.</v-col>
                        </v-footer>
                    </v-container>
                </v-main>
            </v-app>
        </div>
        <script src="js/translate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.0/dist/vuetify.js"></script>
        <script src="js/page/login.js"></script>
    </body>
</html>
