<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>                       <!-- Navbar -->
            <v-app-bar app dense dark color="primary">
                <v-toolbar-title>{{ translate('lang1SvName') }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn text href="index.html">{{ translate('lang1Home') }}</v-btn>
                <v-btn text href="shop.html">{{ translate('lang1Shop') }}</v-btn>

                <!-- Dropdown Menu -->
                <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn text v-bind="attrs" v-on="on">
                            {{ translate('lang1Settings') }} <v-icon right>mdi-chevron-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item>
                            <v-list-item-title><a href="myitems.html">{{ translate('lang1MyItems') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="sell.html">{{ translate('lang1Sell') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="buy.html">{{ translate('lang1Buy') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="mail.html">{{ translate('lang1Mail') }}</a></v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title><a href="signs.html">{{ translate('lang1Signs') }}</a></v-list-item-title>
                        </v-list-item>
                        <!-- Outras opções do dropdown -->
                    </v-list>
                </v-menu>

                <v-btn text href="logout">{{ translate('lang1Logout') }}</v-btn>
            </v-app-bar>

            <v-container>

                <h2>{{ translate('langMyItensTitle') }}</h2>

                <v-row>
                    <v-col cols="12" sm="2">
                        <v-avatar size="64">
                            <img :src="avatarUrl" alt="avatar">
                        </v-avatar>
                    </v-col>
                    <v-col cols="12" sm="10">
                        {{ translate('lang1Name') }}: <span>{{ user }}</span> | {{ translate('lang1Money') }}: <span>{{ money }}</span> | {{ translate('lang1Mail') }}: <span>{{ mail }}</span>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-btn color="primary" class="mr-4" @click="dialogCreateSale = true">{{ translate('langCreateSale') }}</v-btn>
                    <v-btn color="primary" @click="dialogSendMail = true">{{ translate('langSendItemMail') }}</v-btn>
                </v-row>
                <v-container>
                    <v-alert type="info" v-if="formResult" class="text-center">
                        {{ formResult }}
                    </v-alert>
                </v-container>
                <!-- Diálogo Modal para Criar Venda -->
                <v-dialog v-model="dialogCreateSale" persistent max-width="600px">
                    <v-card>
                        <v-card-title class="headline">{{ translate('langCreateSale') }}</v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-select v-model="formData.ID" :items="itemNames" item-text="text" item-value="value" label="Select Item"></v-select>
                                        <v-text-field v-model="formData.quantity" :label="translate('langQuantity')" type="number"></v-text-field>
                                        <v-text-field v-model="formData.price" :label="translate('langPrice')" type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="submitSale">Submit</v-btn>
                            <v-btn color="red darken-1" text @click="dialogCreateSale = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                
                <!-- Diálogo Modal para Enviar Item por E-mail -->
                <v-dialog v-model="dialogSendMail" persistent max-width="600px">
                    <v-card>
                        <v-card-title class="headline">{{ translate('langSendItemMail') }}</v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-select v-model="formData.ID" :items="itemNames" item-text="text" item-value="value" label="Select Item"></v-select>
                                        <v-text-field v-model="formData.quantity" :label="translate('langQuantity')" type="number"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="sendMail">Send</v-btn>
                            <v-btn color="red darken-1" text @click="dialogSendMail = false">Cancel</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- Coloque os modais e outros componentes aqui conforme necessário -->

                <div id="resultado"></div>
                <!-- Tabela de Resultados -->
                <v-data-table :headers="headers" :items="items" class="mt-5">
                    <template v-slot:item.item_name="{ item }">
                        <div v-html="item.item_name"></div>
                    </template>
                    <template v-slot:item.owner="{ item }">
                        <div v-html="item.owner"></div>
                    </template>
                </v-data-table>

                <v-footer fixed>
                    &copy; Made by Stutiguias.
                </v-footer>

            </v-container>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.js"></script>
    <script src="js/translate.js"></script>
    <script src="js/main.js"></script>
    <script src="js/page/myitems.js"></script>
</body>
</html>
